<%= form_with model: model, scope: :model, class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <article id="sophon-basic">
    <header><h2>基本情報</h2></header>
    <%
      parents = model.parents
      parents = parents.to_a
      parents = parents.sort_by { |group| group.depth }
      parents.pop
    %>
    <% if parents.present? %>
      <div class="uk-margin">
        <%= label_tag :parent_id, model_class.human_attribute_name(:parent_id), class: "uk-form-label" %>
        <div class="uk-form-controls">
          <%= text_field_tag :parent_id, parents.pluck(:name).join("/"), class: "uk-input", disabled: true %>
        </div>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :gid, model_class.human_attribute_name(:gid), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= form.text_field :gid, class: "uk-input" %>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= form.text_field :name, class: "uk-input" %>
      </div>
    </div>
  </article>

  <section>
    <%= form.submit "保存", class: "uk-button uk-button-primary" %>
    <%= link_to "キャンセル", { action: :show }, { class: "uk-button uk-button-default" } %>
  </section>
<% end %>
