<%= form_with model: model, scope: :model, url: url_for(action: :move), class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <table class="table">
    <thead>
    <tr>
      <th scope="col"><%= model_class.human_attribute_name :gid %></th>
      <th scope="col"><%= model_class.human_attribute_name :name %></th>
    </tr>
    </thead>
    <tbody>
    <% child_group_ids = model.children.pluck(:id) %>
    <% models.each do |parent| %>
      <tr>
        <td>
          <% if child_group_ids.include?(parent.id) %>
            <label><%= form.radio_button :parent_id, parent.id, disabled: true %> <%= parent.gid %></label>
          <% elsif parent == model.parent %>
            <label><%= form.radio_button :parent_id, parent.id, checked: true %> <%= parent.gid %></label>
          <% else %>
            <label><%= form.radio_button :parent_id, parent.id %> <%= parent.gid %></label>
          <% end %>
        </td>
        <td><%= parent.parents.to_a.sort_by { |group| group.depth }.map(&:name).join("/") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <section>
    <%= form.submit "移動", class: "btn btn-primary" %>
    <%= link_to "キャンセル", { action: :index }, { class: "btn btn-outline-secondary" } %>
  </section>
<% end %>
