<%= link_to "編集", { action: :edit }, { class: "uk-button uk-button-default" } %>
<%= link_to "移動", { action: :move }, { class: "uk-button uk-button-default" } %>
<%= link_to "削除", { action: :delete }, { class: "uk-button uk-button-danger" } %>

<article id="sophon-basic">
  <header><h2>基本情報</h2></header>

  <%
    parents = model.parents
    parents = parents.to_a
    parents = parents.sort_by { |group| group.depth }
    parents.pop
  %>
  <% if parents.present? %>
    <div class="uk-margin">
    <%= label_tag :parent_id, model_class.human_attribute_name(:parent_id), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= text_field_tag :parent_id, parents.pluck(:name).join("/"), class: "uk-input uk-width-1-1 uk-width-1-2@s", readonly: true %>
        <%= link_to "変更", { action: :move }, class: "uk-button uk-button-default" %>
      </div>
    </div>
  <% end %>

  <div class="uk-margin">
    <%= label_tag :gid, model_class.human_attribute_name(:gid), class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= text_field_tag :gid, model.gid, class: "uk-input", readonly: true %>
    </div>
  </div>

  <div class="uk-margin">
    <%= label_tag :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= text_field_tag :name, model.name, class: "uk-input", readonly: true %>
    </div>
  </div>
</article>

<article id="sophon-user">
  <header><h2>ユーザー</h2></header>

  <div class="uk-margin">
    <table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-hover">
      <thead>
      <tr>
        <th scope="col"><%= Sys::User.human_attribute_name :uid %></th>
        <th scope="col"><%= Sys::User.human_attribute_name :name %></th>
      </tr>
      </thead>
      <tbody>
      <% users = model.users.limit(5).to_a %>
      <% users.each do |user| %>
        <tr>
          <td><%= user.uid %></td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><%= t("human.m_out_of_n", n: model.users.count.to_s(:delimited), m: users.length) %></p>
  </div>
</article>

<section class="uk-margin">
  <%= link_to "戻る", { action: :index }, { class: "uk-button uk-button-default" } %>
</section>
