<div class="uk-inline">
  <button class="uk-button uk-button-primary" type="button">新規作成 <span uk-icon="chevron-down"></span></button>
  <div id="sophon-dropdown-new-menu" uk-dropdown="mode: click">
    <ul class="uk-nav uk-dropdown-nav">
      <li><%= link_to "新規フォルダー", new_share_folder_path, class: "sophon-new-folder", "data-controller" => "dialog", "data-action" => "dialog#open" %></li>
      <li>
        <div class="sophon-upload" uk-form-custom>
          <input type="file" multiple>
          <%= link_to "アップロード", "" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<% if false %>
  <div id="sophon-modal-new-folder" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <%= form_with scope: :model, url: share_folders_path, class: "model-form" do |form| %>
        <h2 class="uk-modal-title">新規フォルダー</h2>

        <div class="uk-margin">
          <%= form.label :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
          <%= form.text_field :name, class: "uk-input" %>
        </div>

        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">閉じる</button>
          <button class="uk-button uk-button-primary" type="submit">作成</button>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-hover">
  <thead>
  <tr>
    <th scope="col"><%= model_class.human_attribute_name :name %></th>
    <th scope="col"><%= model_class.human_attribute_name :update_at %></th>
    <th scope="col"><%= model_class.human_attribute_name :size %></th>
  </tr>
  </thead>
  <tbody>
  <% models.select { |model| model.type == "Share::Folder" }.each do |model| %>
    <tr>
      <td>
        <%= model.icon_source %>
        <%= link_to model.name, url_for(action: :show, id: model) %>
      </td>
      <td><%= model.updated_at.try { |time| I18n.l(time, format: :long) } %></td>
      <td><%= model.size.try { |size| size.to_s(:human_size) } %></td>
    </tr>
  <% end %>
  <% models.reject { |model| model.type == "Share::Folder" }.each do |model| %>
    <tr>
      <td>
        <%= model.icon_source %>
        <%= link_to model.name, url_for(action: :show, id: model) %>
      </td>
      <td><%= model.updated_at.try { |time| I18n.l(time, format: :long) } %></td>
      <td><%= model.size.try { |size| size.to_s(:human_size) } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="sophon-upload uk-placeholder uk-text-center">
  <span uk-icon="icon: cloud-upload"></span>
  <span class="uk-text-middle">アップロードするファイルをここにドロップするか</span>
  <div uk-form-custom>
    <input type="file" multiple>
    <span class="uk-link">選択してください</span>
  </div>
</div>
<progress id="sophon-upload-progressbar" class="uk-progress" value="0" max="100" hidden></progress>

<script defer>
  document.addEventListener("DOMContentLoaded", function () {
    var bar = document.getElementById('sophon-upload-progressbar');

    UIkit.upload('.sophon-upload', {
      url: '<%= share_files_path %>',
      multiple: true,
      name: "model[files][]",
      params: {authenticity_token: "<%= form_authenticity_token %>"},

      beforeSend: function () {
        console.log('beforeSend', arguments);
      },
      beforeAll: function () {
        console.log('beforeAll', arguments);
      },
      load: function () {
        console.log('load', arguments);
      },
      error: function () {
        console.log('error', arguments);
      },
      complete: function () {
        console.log('complete', arguments);
      },

      loadStart: function (e) {
        console.log('loadStart', arguments);

        bar.removeAttribute('hidden');
        bar.max = e.total;
        bar.value = e.loaded;
      },

      progress: function (e) {
        console.log('progress', arguments);

        bar.max = e.total;
        bar.value = e.loaded;
      },

      loadEnd: function (e) {
        console.log('loadEnd', arguments);

        bar.max = e.total;
        bar.value = e.loaded;
      },

      completeAll: function () {
        console.log('completeAll', arguments);

        setTimeout(function () {
          bar.setAttribute('hidden', 'hidden');
        }, 1000);

        alert('Upload Completed');
      }
    });

    var newMenu = document.getElementById("sophon-dropdown-new-menu");
    // var newFolder = document.getElementById("sophon-modal-new-folder");
    // newFolder.addEventListener("beforeshow", function() {
    //   UIkit.dropdown(newMenu).hide();
    // });

    // document.querySelectorAll(".sophon-modal").forEach(function() {
    //   this.addEventListener("click", function(ev) {
    //     UIkit.dropdown(newMenu).hide();
    //
    //     ev.preventDefault();
    //     return false;
    //   });
    // });
  });
</script>
