<%= form_with model: model, scope: :model, class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <article id="sophon-basic">
    <header><h2>基本情報</h2></header>
    <div class="mb-3">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <%= form.label :memo, model_class.human_attribute_name(:memo), class: "form-label" %>
      <%= form.text_area :memo, class: "form-control" %>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <%= form.label :enabled_at, model_class.human_attribute_name(:enabled_at), class: "form-label" %>
      <div class="input-group">
        <%= form.date_field :enabled_at, class: "form-control" %>
        <span class="input-group-text"><%= t("wave_dash") %></span>
        <%= form.date_field :disabled_at, class: "form-control" %>
      </div>
    </div>
  </article>

  <article id="sophon-basic">
    <header><h2>ブランド</h2></header>
    <div class="mb-3">
      <%= form.label :brand_logo, model_class.human_attribute_name(:brand_logo), class: "form-label" %>
      <%= form.file_field :brand_logo, class: "form-control" %>
      <% if model.brand_logo.present? %>
        <%= link_to model.brand_logo.filename, url_for(model.brand_logo), target: "_blank" %>
        <label>
          <%= form.check_box :in_rm_brand_logo %>
          削除
        </label>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :brand_name, model_class.human_attribute_name(:memo), class: "form-label" %>
      <%= form.text_field :brand_name, class: "form-control" %>
    </div>
  </article>

  <section>
    <%= form.submit "保存", class: "btn btn-primary" %>
    <%= link_to "キャンセル", { action: :show }, { class: "btn btn-outline-secondary" } %>
  </section>
<% end %>
