<%= link_to "新規作成", { action: :new }, { class: "btn btn-primary" } %>

<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= model_class.human_attribute_name :name %></th>
    <th scope="col"><%= model_class.human_attribute_name :enabled_at %></th>
    <th scope="col"><%= model_class.human_attribute_name :disabled_at %></th>
  </tr>
  </thead>
  <tbody>
  <% models.each do |model| %>
  <tr>
    <td><%= link_to model.name, url_for(action: :show, id: model) %></td>
    <td><%= blog_date model.enabled_at %></td>
    <td><%= blog_date model.disabled_at %></td>
  </tr>
  <% end %>
  </tbody>
</table>
