<%= form_with model: model, scope: :model, class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <article id="sophon-basic">
    <header><h2>基本情報</h2></header>
    <div class="mb-3">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <%= form.label :memo, model_class.human_attribute_name(:memo), class: "form-label" %>
      <%= form.text_area :memo, class: "form-control" %>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <%= form.label :enabled_at, model_class.human_attribute_name(:enabled_at), class: "form-label" %>
      <div class="input-group">
        <%= form.date_field :enabled_at, class: "form-control" %>
        <span class="input-group-text"><%= t("wave_dash") %></span>
        <%= form.date_field :disabled_at, class: "form-control" %>
      </div>
    </div>
  </article>

  <article id="sophon-basic">
    <header><h2>ブランド</h2></header>
    <div class="mb-3">
      <%= form.label :brand_logo, model_class.human_attribute_name(:brand_logo), class: "form-label" %>
      <%= form.file_field :brand_logo, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :brand_name, model_class.human_attribute_name(:brand_name), class: "form-label" %>
      <%= form.text_field :brand_name, class: "form-control" %>
    </div>
  </article>

  <article id="sophon-virtual-host">
    <header><h2>仮想ホスト</h2></header>

    <%= form.fields_for :virtual_hosts do |virtual_host_form| %>
      <div class="mb-3">
        <%= virtual_host_form.label :host, Sys::VirtualHost.human_attribute_name(:host), class: "form-label" %>
        <%= virtual_host_form.text_field :host, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= virtual_host_form.label :path, Sys::VirtualHost.human_attribute_name(:path), class: "form-label" %>
        <%= virtual_host_form.text_field :path, class: "form-control" %>
      </div>
    <% end %>
  </article>

  <section>
    <%= form.submit "作成", class: "btn btn-primary" %>
    <%= link_to "キャンセル", { action: :index }, { class: "btn btn-outline-secondary" } %>
  </section>
<% end %>
