<%= link_to "編集", { action: :edit }, { class: "btn btn-outline-secondary" } %>
<%= link_to "削除", { action: :delete }, { class: "btn btn-outline-danger" } %>

<article id="sophon-basic">
  <header><h2>基本情報</h2></header>

  <div class="mb-3">
    <%= label_tag :name, model_class.human_attribute_name(:name), class: "form-label" %>
    <div class="form-control-plaintext border rounded">
      <%= model.name %>
    </div>
  </div>

  <% if model.memo.present? %>
    <div class="mb-3">
      <%= label_tag :memo, model_class.human_attribute_name(:memo), class: "form-label" %>
      <div class="form-control-plaintext border rounded">
        <%= sophon_br model.memo %>
      </div>
    </div>
  <% end %>

  <% if model.enabled_at || model.disabled_at %>
    <div class="mb-3">
      <%= label_tag :enabled_at, model_class.human_attribute_name(:enabled_at), class: "form-label" %>
      <div class="form-control-plaintext border rounded">
        <%=
          [].tap do |array|
            array << I18n.l(model.enabled_at.to_date) if model.enabled_at
            array << I18n.l(model.disabled_at.to_date) if model.disabled_at
          end.join(t("wave_dash"))
        %>
      </div>
    </div>
  <% end %>
</article>

<article id="sophon-basic">
  <header><h2>ブランド</h2></header>

  <% if model.brand_logo.present? %>
    <div class="mb-3">
      <%= label_tag :brand_logo, model_class.human_attribute_name(:brand_logo), class: "form-label" %>
      <div class="form-control-plaintext border rounded">
        <% if model.brand_logo.representable? %>
          <%= image_tag(url_for(model.brand_logo.representation(resize_to_limit: [ 100, 100 ]))) %>
        <% else %>
          <%= link_to "Download", rails_blob_path(model.brand_logo, disposition: "attachment") %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= label_tag :brand_name, model_class.human_attribute_name(:brand_name), class: "form-label" %>
    <div class="form-control-plaintext border rounded">
      <%= model.brand_name %>
    </div>
  </div>
</article>

<article id="sophon-virtual-host">
  <header><h2>仮想ホスト</h2></header>
  <%= link_to "仮想ホストの管理", sys_tenant_virtual_hosts_path(tenant_id: model) %>

  <% if model.virtual_hosts.present? %>
    <table>
      <thead>
      <tr>
        <th><%= Sys::VirtualHost.human_attribute_name :host %></th>
        <th><%= Sys::VirtualHost.human_attribute_name :path %></th>
      </tr>
      </thead>
      <tbody>
      <% model.virtual_hosts.each do |virtual_host| %>
      <tr>
        <td><%= virtual_host.host %></td>
        <td><%= virtual_host.path %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</article>

<section>
  <%= link_to "戻る", { action: :index }, { class: "btn btn-outline-secondary" } %>
</section>
