<%= form_with model: model, method: :delete, url: url_for(actin: :delete), scope: :model, class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <section id="sophon-basic">
    <header><h2>基本情報</h2></header>
    <div class="uk-margin">
      <%= form.label :host, model_class.human_attribute_name(:host), class: "uk-form-label" %>
      <%= form.text_field :host, class: "uk-input", disabled: true %>
    </div>
    <div class="uk-margin">
      <%= form.label :path, model_class.human_attribute_name(:path), class: "uk-form-label" %>
      <%= form.text_field :path, class: "uk-input", disabled: true %>
    </div>
  </section>

  <section class="uk-margin">
    <%= form.submit "削除", class: "uk-button uk-button-danger" %>
    <%= link_to "キャンセル", { action: :show }, { class: "uk-button uk-button-default" } %>
  </section>
<% end %>
