<%= link_to "新規作成", { action: :new }, { class: "btn btn-primary" } %>

<table class="table">
  <thead>
  <tr>
    <th scope="col"><%= model_class.human_attribute_name :host %></th>
    <th scope="col"><%= model_class.human_attribute_name :path %></th>
  </tr>
  </thead>
  <tbody>
  <% models.each do |model| %>
    <tr>
      <td><%= link_to model.host, url_for(action: :show, id: model) %></td>
      <td><%= model.path %></td>
    </tr>
  <% end %>
  </tbody>
</table>
