<%= link_to "編集", { action: :edit }, { class: "btn btn-outline-secondary" } %>
<%= link_to "削除", { action: :delete }, { class: "btn btn-outline-danger" } %>

<article id="sophon-basic">
  <header><h2>基本情報</h2></header>

  <div class="mb-3">
    <%= label_tag :host, model_class.human_attribute_name(:host), class: "form-label" %>
    <div class="form-control-plaintext border rounded">
      <%= model.host %>
    </div>
  </div>

  <% if model.path.present? %>
    <div class="mb-3">
      <%= label_tag :path, model_class.human_attribute_name(:path), class: "form-label" %>
      <div class="form-control-plaintext border rounded">
        <%= sophon_br model.path %>
      </div>
    </div>
  <% end %>
</article>
