<%= link_to "編集", { action: :edit }, { class: "uk-button uk-button-default" } %>
<%= link_to "削除", { action: :delete }, { class: "uk-button uk-button-danger" } %>

<section id="sophon-basic" class="uk-margin">
  <header><h2>基本情報</h2></header>

  <div class="uk-margin">
    <%= label_tag :host, model_class.human_attribute_name(:host), class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= text_field_tag :host, model.host, class: "uk-input", disabled: true %>
    </div>
  </div>

  <% if model.path.present? %>
    <div class="uk-margin">
      <%= label_tag :path, model_class.human_attribute_name(:path), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= text_field_tag :path, model.path, class: "uk-input", disabled: true %>
      </div>
    </div>
  <% end %>
</section>
