<%= form_with scope: :model, url: share_folders_path, id: "new-folder-form", class: "model-form" do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <section id="sophon-basic">
    <header><h2 class="uk-modal-title">新規フォルダー</h2></header>

    <div class="uk-margin">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
      <%= form.text_field :name, class: "uk-input" %>
    </div>

  </section>
<% end %>

<% content_for :footer do %>
  <section class="uk-text-right">
    <%= button_tag "閉じる", type: "button", class: "uk-button uk-button-default uk-modal-close" %>
    <%= submit_tag "作成", form: "new-folder-form", class: "uk-button uk-button-primary" %>
  </section>
<% end %>
