<%= form_with model: model, scope: :model, class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <section id="sophon-basic">
    <header><h2>基本情報</h2></header>
    <div class="uk-margin">
      <%= form.label :uid, model_class.human_attribute_name(:uid), class: "uk-form-label" %>
      <%= form.text_field :uid, class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
      <%= form.text_field :name, class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= form.label :password, model_class.human_attribute_name(:password), class: "uk-form-label" %>
      <%= form.password_field :password, class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= form.label :password_confirmation, model_class.human_attribute_name(:password_confirmation), class: "uk-form-label" %>
      <%= form.password_field :password_confirmation, class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= form.label :email, model_class.human_attribute_name(:email), class: "uk-form-label" %>
      <%= form.email_field :email, class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= form.label :title, model_class.human_attribute_name(:title), class: "uk-form-label" %>
      <%= form.text_field :title, class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= form.label :enabled_at, model_class.human_attribute_name(:enabled_at), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= form.date_field :enabled_at, class: "uk-input uk-form-width-medium" %>
        <span><%= t("wave_dash") %></span>
        <%= form.date_field :disabled_at, class: "uk-input uk-form-width-medium" %>
      </div>
    </div>
  </section>

  <% if groups.present? %>
    <section id="sophon-group">
      <header><h2>グループ</h2></header>
      <div class="uk-margin">
        <table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-hover">
          <thead>
          <tr>
            <th scope="col"><%= Sys::Group.human_attribute_name :gid %></th>
            <th scope="col"><%= Sys::Group.human_attribute_name :name %></th>
          </tr>
          </thead>
          <tbody>
          <% groups.each do |group| %>
            <tr>
              <td>
                <label>
                  <%= check_box_tag "#{form.object_name}[group_users_attributes][][group_id]", group.id, false, id: nil %>
                  <%= group.gid %>
                </label>
              </td>
              <td><%= group.parents.to_a.sort_by(&:depth).map(&:name).join("/") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </section>
  <% end %>

  <section>
    <%= form.submit "作成", class: "uk-button uk-button-primary" %>
    <%= link_to "キャンセル", { action: :index }, { class: "uk-button uk-button-default" } %>
  </section>
<% end %>
