<%= form_with model: model, scope: :model, class: "model-form", data: { id: model.id } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <section id="sophon-basic">
    <header><h2>基本情報</h2></header>
    <div class="mb-3">
      <%= form.label :uid, model_class.human_attribute_name(:uid), class: "form-label" %>
      <%= form.text_field :uid, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :password, model_class.human_attribute_name(:password), class: "form-label" %>
      <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :password_confirmation, model_class.human_attribute_name(:password_confirmation), class: "form-label" %>
      <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :email, model_class.human_attribute_name(:email), class: "form-label" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :title, model_class.human_attribute_name(:title), class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :enabled_at, model_class.human_attribute_name(:enabled_at), class: "form-label" %>
      <div class="input-group">
        <%= form.date_field :enabled_at, class: "form-control" %>
        <span class="input-group-text"><%= t("wave_dash") %></span>
        <%= form.date_field :disabled_at, class: "form-control" %>
      </div>
    </div>
  </section>

  <% if groups.present? %>
    <section id="sophon-group">
      <header><h2>グループ</h2></header>
      <div class="mb-3">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"><%= Sys::Group.human_attribute_name :gid %></th>
            <th scope="col"><%= Sys::Group.human_attribute_name :name %></th>
          </tr>
          </thead>
          <tbody>
          <% groups.each do |group| %>
            <tr>
              <td><%= check_box_tag "#{form.object_name}[group_users_attributes][][group_id]", group.id, false, id: nil %></td>
              <td><%= group.gid %></td>
              <td><%= group.parents.to_a.sort_by(&:depth).map(&:name).join("/") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </section>
  <% end %>

  <section>
    <%= form.submit "作成", class: "btn btn-primary" %>
    <%= link_to "キャンセル", { action: :index }, { class: "btn btn-outline-secondary" } %>
  </section>
<% end %>
