<%= link_to "編集", { action: :edit }, { class: "uk-button uk-button-default" } %>
<%= link_to "削除", { action: :delete }, { class: "uk-button uk-button-danger" } %>

<section id="sophon-basic" class="uk-margin">
  <header><h2>基本情報</h2></header>

  <div class="uk-margin">
    <%= label_tag :uid, model_class.human_attribute_name(:uid), class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= text_field_tag :uid, model.uid, class: "uk-input", disabled: true %>
    </div>
  </div>

  <div class="uk-margin">
    <%= label_tag :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
    <div class="uk-form-controls">
      <%= text_field_tag :name, model.name, class: "uk-input", disabled: true %>
    </div>
  </div>

  <% if model.email.present? %>
    <div class="uk-margin">
      <%= label_tag :email, model_class.human_attribute_name(:email), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= text_field_tag :email, model.email, class: "uk-input", disabled: true %>
      </div>
    </div>
  <% end %>

  <% if model.title.present? %>
    <div class="uk-margin">
      <%= label_tag :title, model_class.human_attribute_name(:title), class: "uk-form-label" %>
      <div class="uk-form-controls">
        <%= text_field_tag :title, model.title, class: "uk-input", disabled: true %>
      </div>
    </div>
  <% end %>

  <% if model.enabled_at || model.disabled_at %>
    <div class="uk-margin">
      <%= label_tag :enabled_at, model_class.human_attribute_name(:enabled_at), class: "uk-form-label" %>
      <div class="form-control-plaintext border rounded">
        <%=
          text = [].tap do |array|
            array << I18n.l(model.enabled_at.to_date) if model.enabled_at
            array << I18n.l(model.disabled_at.to_date) if model.disabled_at
          end.join(t("wave_dash"))

          text_field_tag :enabled_at, text, class: "uk-input", disabled: true
        %>
      </div>
    </div>
  <% end %>
</section>

<section id="sophon-group" class="uk-margin">
  <header><h2>グループ</h2></header>

  <div class="uk-margin">
    <table class="uk-table uk-table-small uk-table-middle uk-table-divider uk-table-hover">
      <thead>
      <tr>
        <th scope="col"><%= Sys::Group.human_attribute_name :gid %></th>
        <th scope="col"><%= Sys::Group.human_attribute_name :name %></th>
      </tr>
      </thead>
      <tbody>
      <% model.groups.preload(:parent_group_closures, :parents).order(gid: :asc, name: :asc).each do |group| %>
        <tr>
          <td><%= group.gid %></td>
          <td><%= group.parents.to_a.sort_by { |group| group.depth }.map(&:name).join("/") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>

<section class="uk-margin">
  <%= link_to "戻る", { action: :index }, { class: "uk-button uk-button-default" } %>
</section>
