<% content_for :header do %>
  <h2 class="uk-modal-title">削除してよろしいですか？</h2>
<% end %>

<%= form_with model: model, method: :delete, url: url_for(action: :destroy), scope: :model, id: "delete-file-form", class: "model-form", data: { id: model.id, controller: "ajax-form" } do |form| %>
  <%= render 'layouts/error_messages', model: model %>

  <section id="sophon-basic">
    <div class="uk-margin">
      <%= form.label :name, model_class.human_attribute_name(:name), class: "uk-form-label" %>
      <%= form.text_field :name, class: "uk-input", readonly: true %>
    </div>
  </section>
<% end %>

<% content_for :footer do %>
  <section class="uk-text-right">
    <%= button_tag "閉じる", type: "button", class: "uk-button uk-button-default uk-modal-close" %>
    <%= submit_tag "削除", form: "delete-file-form", class: "uk-button uk-button-danger" %>
  </section>
<% end %>
