<!DOCTYPE html>
<html>
<head>
  <title>Sophon</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" integrity="sha256-be6L8udj+NDGx0EYZ7V7hWNdj/JND/pT7Vm/KpToSpg=" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js" integrity="sha256-57SpIdUIA4i5rVobH4e2uYTPSsGwAyp4wgOvvMnfRRA=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js" integrity="sha256-p+afcVrugQc3cI3CenK8Q60KSQii4p3Ma2qZF8/o87g=" crossorigin="anonymous" defer></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
<div class="uk-navbar-container">
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar" uk-navbar>
      <div class="uk-navbar-left">
        <%= link_to "Sophon", "/", class: "uk-navbar-item uk-logo" %>
      </div>
      <div class="uk-navbar-right">
        <div class="uk-navbar-item uk-visible@m">
          <form class="uk-search uk-search-default">
            <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
            <input class="uk-search-input" type="search" placeholder="Search">
          </form>
        </div>
        <ul class="uk-navbar-nav uk-visible@m">
          <li><a href="#">Sign out</a></li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle></a>
      </div>
    </nav>
  </div>
</div>

<div class="uk-flex">
  <div class="uk-visible@m">
    <div class="uk-section uk-section-default uk-section-xsmall" style="width: 240px">
      <div class="uk-container">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">System Menu</li>
          <li class=""><a href="/sys/tenants">Tenant</a></li>
          <li class=""><a href="/sys/groups">Group</a></li>
          <li class=""><a href="/sys/users">User</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="uk-width-expand">
    <div class="uk-section uk-section-default uk-section-xsmall">
      <div class="uk-container">
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</div>

<nav id="offcanvas" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-default uk-margin">
      <li class="uk-nav-header">General</li>
      <li><a href="#">Logout</a></li>
      <li>
        <form>
          <input type="search" placeholder="Search" class="uk-input">
        </form>
      </li>
    </ul>

    <ul class="uk-nav uk-nav-default uk-margin">
      <li class="uk-nav-header">System Menu</li>
      <li><a href="/sys/tenants">Tenant</a></li>
      <li><a href="/sys/groups">Group</a></li>
      <li><a href="/sys/users">User</a></li>
    </ul>
  </div>
</nav>
</body>
</html>
