<!DOCTYPE html>
<html>
<head>
  <title>Sophon</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" integrity="sha256-vN5wU76rn+I7WoaZEYUj36tM0LF0rWWDHDPpL9nhTyo=" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.js" integrity="sha256-js/wIiv/Rx9L8dkloWKgPJuaAtw+fuR2rklDGCFyYEA=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js" integrity="sha256-b+F69/dGKnyg5aec/viTW5AsYXv4IDNYezugSgaWaXo=" crossorigin="anonymous" defer></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
<div class="uk-navbar-container">
  <div class="uk-container uk-container-expand">
    <nav class="uk-navbar" uk-navbar>
      <div class="uk-navbar-left">
        <%
          if respond_to?(:current_tenant)
            brand_name = current_tenant.brand_name.presence || current_tenant.name.presence || "Sophon"
            if current_tenant.brand_logo.present?
              source = url_for(current_tenant.brand_logo.representation(resize_to_limit: [ 240, 60 ]))
              brand = link_to(image_tag(source, alt: brand_name), "/", class: "uk-navbar-item uk-logo", title: brand_name)
            else
              brand = link_to(brand_name, "/", class: "uk-navbar-item uk-logo")
            end
          else
            brand = link_to("Sophon", "/", class: "uk-navbar-item uk-logo")
          end
        %>
        <%= brand %>
      </div>
      <div class="uk-navbar-right">
        <div class="uk-navbar-item uk-visible@m">
          <form class="uk-search uk-search-default">
            <button type="submit" class="uk-search-icon-flip" uk-search-icon></button>
            <input class="uk-search-input" type="search" placeholder="Search">
          </form>
        </div>
        <ul class="uk-navbar-nav uk-visible@m">
          <li><%= link_to "ログアウト", logout_path, data: { confirm: "ログアウトしてよろしいですか？" } %></li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle></a>
      </div>
    </nav>
  </div>
</div>

<div class="uk-flex">
  <div class="uk-visible@m">
    <div class="uk-section uk-section-default uk-section-xsmall" style="width: 240px">
      <div class="uk-container">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">System Menu</li>
          <li><%= link_to "Share", shares_path %></li>
          <li><%= link_to "Tenant", sys_tenants_path %></li>
          <li><%= link_to "Group", sys_groups_path %></li>
          <li><%= link_to "User", sys_users_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="uk-width-expand">
    <div class="uk-section uk-section-default uk-section-xsmall">
      <div class="uk-container">
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
</div>

<nav id="offcanvas" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="uk-nav uk-nav-default uk-margin">
      <li class="uk-nav-header">General</li>
      <li><a href="#">Logout</a></li>
      <li>
        <form>
          <input type="search" placeholder="Search" class="uk-input">
        </form>
      </li>
    </ul>

    <ul class="uk-nav uk-nav-default uk-margin">
      <li class="uk-nav-header">System Menu</li>
      <li><%= link_to "Share", shares_path %></li>
      <li><%= link_to "Tenant", sys_tenants_path %></li>
      <li><%= link_to "Group", sys_groups_path %></li>
      <li><%= link_to "User", sys_users_path %></li>
    </ul>
  </div>
</nav>
</body>
</html>
